<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <h1>BLOG</h1>
    <h4><a href="{% url 'new' %}">Write</a></h4>
    {% for blog in blogs %}
    <h3>{{blog.title}}</h3>
    <p>{{blog.writer}}</p>
    <p>{{blog.summary}}</p>
    <a href="{% url 'detail' blog.id %}">...more</a>
    {% endfor %}
  </body>
</html>
