<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLOG</title>
  </head>
  <body>
    <h1>WRITE NEW POST</h1>
    <form action="{% url 'create' %}" method="post">
      {%csrf_token%}
      <p>제목: <input type="text" name="title" /></p>
      <p>작성자: <input type="text" name="writer" /></p>
      본문: <textarea name="body" cols="30" rows="20"></textarea>
      <button type="submit">작성</button>
    </form>
  </body>
</html>
